li {
    width: 100%;
    padding: 20px;
    border: 1px solid white;
    list-style: none;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 25px;
    color: #fff;
    margin-bottom: 16px;
}